In [13]:
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from citipy import citipy

# UFO and NASA Data 
Importing UFO and NASA fireball data, standardizing datetime

In [2]:
nasa_fireballs = pd.read_csv("data/cneos_fireball_data.csv")
ufo_raw = pd.read_csv("data/ufo_scrubbed.csv")
nasa_fireballs.head()

C:\Users\hfatt\anaconda3\envs\Pythondata\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2023-01-22 17:11:43,3.5N,76.2W,61.0,NaN,NaN,NaN,NaN,2.000000e+10,0.073
1,2023-01-18 06:57:18,33.1N,173.7W,38.0,14.2,7.8,-5.6,-10.5,2.200000e+10,0.079
2,2023-01-11 23:59:50,31.5N,18.6E,33.5,17.5,-16.1,4.5,-5.2,4.600000e+10,0.150
3,2023-01-09 01:17:14,45.7S,135.0E,27.0,16.7,2.3,-0.4,16.5,9.000000e+10,0.280
4,2023-01-02 16:38:02,1.5N,129.0E,44.6,NaN,NaN,NaN,NaN,5.000000e+10,0.160

In [3]:
nasa_fireballs['Peak Brightness Date/Time (UT)'] = nasa_fireballs['Peak Brightness Date/Time (UT)'].astype('datetime64[ns]')

In [4]:
ufo_raw["datetime"] = pd.to_datetime(ufo_raw["datetime"], format="%m/%d/%Y %H:%M", errors='coerce')

In [5]:
ufo_raw[ufo_raw["datetime"].isna()]

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
388,NaT,rome,ny,us,oval,120,a min or two,I was walking from the garage to the house&#44...,2/1/2007,43.2127778,-75.456111
693,NaT,chulucanas-piura la vieja (peru),NaN,NaN,other,6312000,2 years,go to: http://www.24horas.com.pe/data/videos/...,3/4/2003,-5.129547,-80.120569
962,NaT,novi,mi,us,triangle,300,5 minutes,V shaped and 8 big and very brite lights&#44mo...,10/30/2012,42.4805556,-83.475556
1067,NaT,salatiga (indonesia),NaN,NaN,disk,22,22 seconds,UFO in Salatiga&#44Indonesia,10/31/2003,-7.33683,110.498817
1221,NaT,cincinnati,oh,us,fireball,300,3-5 minutes,A bright orange light split into four&#44 did ...,10/14/2013,39.1619444,-84.456944
...,...,...,...,...,...,...,...,...,...,...,...
79136,NaT,boonville,nc,us,cigar,10800,3+ hours,Unusual activity in our small community&#44 cr...,9/9/2013,36.2325,-80.708333
79137,NaT,redondo beach,ca,us,triangle,300,5 minutes,Triangulat UFO seen over Redondo Beach&#44 Cal...,12/16/2005,33.8492,-118.387500
79740,NaT,portsmouth,oh,us,changing,900,15 minutes,A bright red light hoovering in the sky.,9/13/2002,38.7317,-82.997778
79759,NaT,montrose,co,us,unknown,1200,20 minutes,Stationary object with three pulsating lights ...,9/9/2004,38.4783,-107.875556
79942,NaT,cedar rapids,ia,us,changing,900,15 min,WE SEEN IT,9/17/2003,42.0083,-91.643889

# U.S. Census Data

Importing census data, removing prior to 1950, making dataframes for 11 UFO focus states that have state population data for 1950-2020.

In [6]:
us_census = pd.read_csv("data/US_census.csv")
us_census.head()

,Name,Geography Type,Year,Resident Population,Percent Change in Resident Population,Resident Population Density,Resident Population Density Rank,Number of Representatives,Change in Number of Representatives,Average Apportionment Population Per Representative
0,Alabama,State,1910,"2,138,093",16.9,42.2,25.0,10.0,1.0,"213,809"
1,Alaska,State,1910,"64,356",1.2,0.1,52.0,NaN,NaN,NaN
2,Arizona,State,1910,"204,354",66.2,1.8,49.0,NaN,NaN,NaN
3,Arkansas,State,1910,"1,574,449",20.0,30.3,30.0,7.0,0.0,"224,921"
4,California,State,1910,"2,377,549",60.1,15.3,38.0,11.0,3.0,"216,051"

In [7]:
us_census = us_census[us_census["Year"] >= 1950]
us_census.head()

,Name,Geography Type,Year,Resident Population,Percent Change in Resident Population,Resident Population Density,Resident Population Density Rank,Number of Representatives,Change in Number of Representatives,Average Apportionment Population Per Representative
228,Alabama,State,1950,"3,061,743",8.1,60.5,24.0,9.0,0.0,"340,194"
229,Alaska,State,1950,"128,643",77.4,0.2,52.0,NaN,NaN,NaN
230,Arizona,State,1950,"749,587",50.1,6.6,47.0,2.0,0.0,"374,794"
231,Arkansas,State,1950,"1,909,511",-2.0,36.7,34.0,6.0,-1.0,"318,252"
232,California,State,1950,"10,586,223",53.3,68,22.0,30.0,7.0,"352,874"

In [8]:
az_census = us_census[us_census["Name"] == "Arizona"]
ca_census = us_census[us_census["Name"] == "Calfornia"]
fl_census = us_census[us_census["Name"] == "Florida"]
il_census = us_census[us_census["Name"] == "Illinois"]
mi_census = us_census[us_census["Name"] == "Michigan"]
ny_census = us_census[us_census["Name"] == "New York"]
oh_census = us_census[us_census["Name"] == "Ohio"]
or_census = us_census[us_census["Name"] == "Oregon"]
pa_census = us_census[us_census["Name"] == "Pennsylvania"]
tx_census = us_census[us_census["Name"] == "Texas"]
wa_census = us_census[us_census["Name"] == "Washington"]

In [9]:
focus_states = ["Arizona", "Calfornia", "Florida", "Illinois", "Michigan", "New York", "Ohio", "Oregon", 
          "Pennsylvania", "Texas", "Washington"]

# UFO Data
Binning UFO data into decades, pulling data for 11 focus states.

In [10]:
ufo_dropped = ufo_raw.dropna()

#datetime
ufo_us = ufo_dropped[ufo_dropped["country"] == "us"]
ufo_by_year = ufo_us
ufo_by_year["datetime"] = pd.to_datetime(ufo_by_year["datetime"], format="%m/%d/%Y %H:%M", errors='coerce')
ufo_by_year[ufo_by_year["datetime"].isna()].dropna()
ufo_by_year["year"] = pd.DatetimeIndex(ufo_by_year['datetime']).year
ufo_by_year.head()

#grouping by decade
groupnames1 = ["Pre-1950s","1950s","1960s","1970s","1980s","1990s","2000s","2010s","2020s"]
bins = [0, 1949.0, 1959.0, 1969.0, 1979.0,1989.0,1999.0,2009.0,2019,2024.0]
ufo_by_year["decade"] = pd.cut(ufo_by_year["year"],bins,labels=groupnames1,include_lowest=False)

C:\Users\hfatt\anaconda3\envs\Pythondata\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hfatt\anaconda3\envs\Pythondata\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hfatt\anaconda3\envs\Pythondata\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
ufo_by_year.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,year,decade
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,1949,Pre-1950s
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,1956,1950s
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,1960,1960s
5,1961-10-10 19:00:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889,1961,1960s
7,1965-10-10 23:45:00,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333,1965,1960s

In [12]:
columns = ['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude ', 'year', 'decade']
spotted_in_us_df = ufo_by_year.loc[(ufo_by_year["state"] == "az") | (ufo_by_year["state"] == "ca")| (ufo_by_year["state"] == "fl") 
                                   | (ufo_by_year["state"] == "il") | (ufo_by_year["state"] == "mi") 
                                   | (ufo_by_year["state"] == "ny") | (ufo_by_year["state"] == "oh") | (ufo_by_year["state"] == "or")
                                   | (ufo_by_year["state"] == "pa") | (ufo_by_year["state"] == "tx")
                                   | (ufo_by_year["state"] == "wa"), columns]
spotted_in_us_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,year,decade
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,1949,Pre-1950s
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,1956,1950s
9,1966-10-10 21:00:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167,1966,1960s
10,1968-10-10 13:00:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667,1968,1960s
12,1970-10-10 16:00:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,5/11/2000,40.6686111,-73.527500,1970,1970s
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80315,2013-09-09 03:00:00,struthers,oh,us,unknown,120,2 minutes,I saw a routaing line of stares that seemed to...,9/9/2013,41.0525,-80.608056,2013,2010s
80316,2013-09-09 09:51:00,san diego,ca,us,light,4,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,9/30/2013,32.7153,-117.156389,2013,2010s
80317,2013-09-09 12:34:00,cedar park,tx,us,cigar,8,5-8 seconds,Cigar Shaped Object Descending in the Directio...,9/9/2013,30.505,-97.820000,2013,2010s
80323,2013-09-09 21:00:00,gainesville,fl,us,triangle,60,1 minute,Three lights in the sky that didn&#39t look li...,9/30/2013,29.6514,-82.325000,2013,2010s
80329,2013-09-09 22:00:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972,-122.284444,2013,2010s